[submodule "Packages/com.contactci.unity"]
	path = Packages/com.contactci.unity
	url = https://github.com/Contact-Control-Interfaces/com.contactci.unity.git
	branch = staging
[submodule "Packages/ultraleap"]
	path = Packages/ultraleap
	url = https://github.com/Contact-Control-Interfaces/ultraleap-fork.git
	branch = main-fork
