[submodule "Packages/com.contactci.unity"]
	path = Packages/com.contactci.unity
	url = git@gitlab.contact.ci:sdk/com.contactci.unity.git
	branch = develop
[submodule "Packages/ultraleap"]
	path = Packages/ultraleap
	url = https://github.com/ultraleap/UnityPlugin
	branch = feature/physics-hands/finger-stability
